$colorPrimary: #001d8a;
$fontColorPrimary: #fff;
$colorSecondary: #ecd407;
$colorTertiary: #292929;
$iconSize: 2.5em;
$iconSizeSecondary: 1.5em;
$fontSizePrimary: 2em;
$fontSizeSecondary: 1.5em;
$fontSizeTertiary: 0.8em;
$fontSizeQuatenary: 1.8;
$fontWeightPrimary: bold;
$fontWeightSecondary: normal;
$squareSize: 50px;